{%  if ymap %}
<script type="text/javascript">
    var id_ymap = {{ ymap.pk }},
        center_ymap = {{ ymap.get_coordinates }},
        zoom_ymap = {{ ymap.zoom }},
        cluster_icon_ymap = '{{ ymap.icon }}',
        cluster_custom_icon_ymap = {% if ymap.image %}'{{ ymap.image.url }}'{% else %}null{% endif %},
        cluster_size_ymap = {{ ymap.get_size }},
        cluster_offset_ymap = {{ ymap.get_offset }},
        custom_icons_ymap = {
            {% for icon in custom_icons %}
            '{{ icon.slug }}': [new Image().src = '{{ icon.image.url }}', {{ icon.get_size }}, {{ icon.get_offset }}]{% if not forloop.last %},{% endif %}
            {% endfor %}
        };
</script>
<div id="id_ymap" style="width:{{ width }};height:{{ height }}">
    <div id="id_ymap_panel_show_button"></div>
    <div id="id_ymap_panel">
        <div id="id_ymap_panel_close_button"></div>

        <!-- Фильтр геообъектов по коллекциям -->
        <div id="id_ymap_panel_filter_collections">
            <a href="javascript:void(0);" id="id_ymap_link_collection_placemark" class="ymap_link">Указатели</a>&ensp;
            <a href="javascript:void(0);" id="id_ymap_link_collection_polyline" class="ymap_link">Маршруты</a>&ensp;
            <a href="javascript:void(0);" id="id_ymap_link_collection_polygon" class="ymap_link">Территории</a>
        </div>

        <div id="id_ymap_list_collections">
            <div id="id_ymap_list_collection_placemark" class="ymap_list_collection">
                <fieldset>
                    <legend>Категории</legend>
                    <p>0&ensp;&#8722;&ensp;<input type="checkbox" class="switch_ymap_item_collection" checked name="placemark" value="all" /><span class="ymap_title_collection">&#8722;&ensp;По умолчанию</span></p>
                </fieldset>
                <fieldset>
                    <legend>Фильтр</legend>
                    <div id="id_filter_hint">
                        <a href="javascript:void(0);" id="id_filter_hint_link">&brvbar;&nbsp;Подсказка&nbsp;&brvbar;</a>
                        <div id="id_filter_hint_text">По умолчанию, отображаются все маркеры. При выборе, отображаются те, у которых совпадают все выбранные свойства.</div>
                    </div>
                </fieldset>
            </div>
            <div id="id_ymap_list_collection_polyline" class="ymap_list_collection">
                <p>0&ensp;&#8722;&ensp;<input type="checkbox" class="switch_ymap_item_collection" checked name="polyline" value="all" /><span class="ymap_title_collection">&#8722;&ensp;По умолчанию</span></p>
            </div>
            <div id="id_ymap_list_collection_polygon" class="ymap_list_collection">
                <p>0&ensp;&#8722;&ensp;<input type="checkbox" class="switch_ymap_item_collection" checked name="polygon" value="all" /><span class="ymap_title_collection">&#8722;&ensp;По умолчанию</span></p>
            </div>
        </div>
    </div>
</div>
{% endif %}