/* Basic body and typography adjustments to resemble GitHub's default */
body {
  background: #212830;
  color: #d1d7e0; /* Dark text color */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d1d7e0;
}

.md-typeset h1 {
  color: #48565d;
}
.md-nav__title {
  background: none !important;
  box-shadow: none !important;
  color: #d1d7e0;
}

.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
  background: none !important;
  box-shadow: none !important;
  color: #d1d7e0;
}

.md-top {
  background-color: #865000;
  color: #d1d7e0;
}
.md-top:hover {
  background-color: #ad6800;
  color: #d1d7e0;
}

.md-typeset code {
  background-color: #151b23;
}

.md-typeset .admonition,
.md-typeset details {
  background-color: #151b23;
}

.md-typeset .quote > .admonition-title,
.md-typeset .quote > summary {
  background-color: #151b23;
}

.md-typeset .admonition.quote,
.md-typeset details.quote {
  border-color: #3d444d;
}

.md-typeset table:not([class]) {
  background-color: #151b23;
  border-color: #3d444d;
}

.md-header {
  background-color: #865000;
  color: #d1d7e0;
}

.md-tabs {
  background-color: #865000;
  color: #d1d7e0;
}

.md-search__form {
  background-color: #814d01;
  color: #d1d7e0;
}
.md-search__form:hover {
  background-color: #ad6800;
  color: #d1d7e0;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__form {
  background-color: #724400;
  color: #d1d7e0;
}

.md-search-result_meta {
  background-color: #253348;
  color: #d1d7e0;
}

.md-footer__inner {
  color: #d1d7e0;
}

.md-footer-meta {
  background-color: #151b23;
  color: #d1d7e0;
}

.md-footer {
  background-color: #13161d75;
  color: #d1d7e0;
}

[data-md-color-primary="orange"] {
  --md-primary-fg-color: #ffa724;
  --md-primary-fg-color--light: #ffa724;
  --md-primary-fg-color--dark: #fa8900;
  --md-primary-bg-color: #d1d7e0;
  --md-primary-bg-color--light: #d1d7e0;
}

[data-md-color-accent="orange"] {
  --md-accent-fg-color: #ff9100;
  --md-accent-fg-color--transparent: #ff91001a;
  --md-accent-bg-color: #d1d7e0;
  --md-accent-bg-color--light: #d1d7e0;
}
