{% load i18n static %}

<!-- Component - Main -->
<main class="min-vw-100 min-vh-100"
      data-bs-theme="{{ settings.theme_type }}">
  {% include 'djeym/components/editor/nav_bar.html' with settings=settings %}
</main>

<script type="module">
  // Enable all tooltips on a page
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<style>
  .dark-tooltip {
    --bs-tooltip-bg: #343a40;
    --bs-tooltip-color: #fecba1;
    --bs-tooltip-opacity: 1;
  }
</style>
