{% load i18n static %}
<nav class="d-flex flex-nowrap vh-100"
     data-bs-theme="{{ general_settings.theme_type }}">
  <div class="d-flex flex-column flex-shrink-0 bg-warning"
       style="width: 4.5rem">
    <a href="/"
       class="d-block p-3 link-body-emphasis text-decoration-none"
       data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-original-title="Icon-only">
      <svg class="bi pe-none" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="visually-hidden">Icon-only</span> </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#"
           class="nav-link active py-3 border-bottom rounded-0"
           aria-current="page"
           data-bs-toggle="tooltip"
           data-bs-placement="right"
           aria-label="Home"
           data-bs-original-title="Home">
          <svg class="bi pe-none"
               width="24"
               height="24"
               role="img"
               aria-label="Home">
            <use xlink:href="#home"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#"
           class="nav-link py-3 border-bottom rounded-0"
           data-bs-toggle="tooltip"
           data-bs-placement="right"
           aria-label="Dashboard"
           data-bs-original-title="Dashboard">
          <svg class="bi pe-none"
               width="24"
               height="24"
               role="img"
               aria-label="Dashboard">
            <use xlink:href="#speedometer2"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#"
           class="nav-link py-3 border-bottom rounded-0"
           data-bs-toggle="tooltip"
           data-bs-placement="right"
           aria-label="Orders"
           data-bs-original-title="Orders">
          <svg class="bi pe-none"
               width="24"
               height="24"
               role="img"
               aria-label="Orders">
            <use xlink:href="#table"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#"
           class="nav-link py-3 border-bottom rounded-0"
           data-bs-toggle="tooltip"
           data-bs-placement="right"
           aria-label="Products"
           data-bs-original-title="Products">
          <svg class="bi pe-none"
               width="24"
               height="24"
               role="img"
               aria-label="Products">
            <use xlink:href="#grid"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#"
           class="nav-link py-3 border-bottom rounded-0"
           data-bs-toggle="tooltip"
           data-bs-placement="right"
           aria-label="Customers"
           data-bs-original-title="Customers">
          <svg class="bi pe-none"
               width="24"
               height="24"
               role="img"
               aria-label="Customers">
            <use xlink:href="#people-circle"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
