{% load i18n static %}
<!-- HTML -->
<nav class="d-flex flex-nowrap min-vh-100"
     data-bs-theme="{{ settings.theme_type }}">
  <div class="d-flex flex-column flex-shrink-0"
       style="width: 64px;
              background-color: #cc9a06">
    <ul class="nav flex-column">
      <li class="nav-item d-grid gap-2 nav-bar-item"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-custom-class="dark-tooltip"
          data-bs-title="{% trans 'Filter by categories' %}">
        <button type="button" class="btn btn-link">
          <span class="mdi mdi-menu mdi-36px text-black"></span>
        </button>
      </li>
      <li class="nav-item d-grid gap-2 nav-bar-item"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-custom-class="dark-tooltip"
          data-bs-title="{% trans 'Go back to admin panel' %}">
        <button type="button" class="btn btn-link">
          <span class="mdi mdi-arrow-left-top-bold mdi-36px text-black"></span>
        </button>
      </li>
      <li class="nav-item d-grid gap-2 nav-bar-item"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-custom-class="dark-tooltip"
          data-bs-title="{% trans 'Settings' %}">
        <button type="button" class="btn btn-link">
          <span class="mdi mdi-cog mdi-36px text-black"></span>
        </button>
      </li>
      <li class="nav-item d-grid gap-2 nav-bar-item"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-custom-class="dark-tooltip"
          data-bs-title="{% trans 'Help' %}">
        <button type="button" class="btn btn-link">
          <span class="mdi mdi-help-circle mdi-36px text-black"></span>
        </button>
      </li>
      <li class="nav-item d-grid gap-2 nav-bar-item"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-custom-class="dark-tooltip"
          data-bs-title="{% trans 'Show editable geo-object' %}">
        <button type="button" class="btn btn-link">
          <span class="mdi mdi-image-filter-center-focus-strong mdi-36px text-danger"></span>
        </button>
      </li>
    </ul>
  </div>
</nav>
<!-- CSS -->
<style>
    .nav-bar-item {
        background-color: #cc9a06;
    }

    .nav-bar-item:hover {
        background-color: #ffc107;
    }
</style>
