#id_center_map {
    width: 600px;
    height: 400px;
    position: relative;
    left: 170px;
}

.editing_map_link {
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #79aec8;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
    text-decoration: none !important;
    color: #fff !important;
}
