{% if ymap %}
  {% load i18n static djeymtags %}
  {% with request.LANGUAGE_CODE|default:'en' as language_code %}
    <!DOCTYPE html>
    <html lang="{{ language_code }}">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="keywords" content="djeym, editor, yandex, maps">
        <meta name="description" content="Editor Yandex maps">
        <meta name="robots" content="none" />
        <title>{{ ymap.title }}</title>
        <!-- START VENDORS FAVICONS -->
        <link rel="icon"
              type="image/png"
              sizes="96x96"
              href="{% static 'djeym/img/favicons/favicon-96x96.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'djeym/img/favicons/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'djeym/img/favicons/favicon-16x16.png' %}">
        <link rel="shortcut icon"
              href="{% static 'djeym/img/favicons/favicon.ico' %}"
              type="image/x-icon">
        <link rel="icon"
              href="{% static 'djeym/img/favicons/favicon.ico' %}"
              type="image/x-icon">
        <!-- END VENDORS  FAVICONS -->
        <!-- START VENDORS CSS -->
        {% djeym_load_vendor_md_icons %}
        {% djeym_load_vendor_bootstrap_css %}
        <link href="{% static 'djeym/css/helpers.css' %}" rel="stylesheet">
        <!-- END VENDORS CSS -->
      </head>
      <body data-bs-theme="dark">
        <!-- For resize image -->
        <canvas id="resize_image_temp_canvas" class="visually-hidden"></canvas>
        <!-- Application entry point -->
        <div id="djeym-app">{% include 'djeym/components/editor/main.html' %}</div>
        <!-- START VENDORS JS -->
        <script src="{% static "djeym/js/jquery.js" %}"></script>
        <script src="{% static "djeym/js/jquery-regex.js" %}"></script>
        <script src="{% url 'djeym:javascript-catalog' %}"></script>
        <script>
            var djeymMapID = parseInt('{{ ymap.pk }}'),
                djeymCSRFToken = '{{ csrf_token }}',
                djeymLanguageCode = '{{ language_code }}',
                djeymDefaultImageCrop = "{% static 'djeym/img/no-photo.jpg' %}",
                djeymBalloonMinHeight = 60;
        </script>
        {% djeym_load_vendor_bootstrap_js %}
        {% djeym_load_api_ymaps language_code %}
        <script src="{% static "djeym/plugins/util.calculateArea.js" %}"></script>
        {% if is_heatmap %}
          <script src="{% static "djeym/plugins/heatmap.js" %}"></script>
        {% endif %}
        <!-- END VENDORS JS -->
      </body>
    </html>
  {% endwith %}
{% else %}
  <style>
      body {
          background-color: #212121;
      }
  </style>
  <h2 style="color: #BDBDBD;">404 - {% trans 'Page not found' %}</h2>
  <div style="color: #607D8B; font-size: 22px; font-weight: bold;">
    {% trans "We're sorry, but the requested map could not be found." %}
  </div>
  <div style="color: #E91E63; font-size: 18px; font-weight: bold;">
    ( {% trans "Maybe the map is not active or just missing." %} )
  </div>
{% endif %}
