{% load i18n static %}
<div id="id_djeym_temp_topnav" class="hidden">
    <!-- START HEADER -->
    <div class="wrap_items_maper" style="margin-bottom: 15px;">
        <!-- Search -->
        <div class="search">
            <label>
                <button></button>
                <input id="placemarksSearch" type="text" name="" placeholder="Поиск услуг">
            </label>
        </div>
        <!-- Categories -->
        {% if category_placemarks %}
            <div class="catalog">
                <div class="select">
                    <!-- Filter - Marker categories. -->
                    <select name="marker-categories" id="categoriesSelector"
                            class="js-example-basic-single js-example-placeholder-single">
                        <option disabled="disabled" selected="selected" value="0">Каталог</option>
                        {% for item in category_placemarks %}
                            <option class="category-for-selection" value="{{ item.pk }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        <div class="location">
            <button>Локация</button>
            <div class="wraps">
                <div class="input">
                    <input type="text" name="city" placeholder="Введите город:">
                </div>
                <div class="input">
                    <input type="text" name="address" placeholder="Введите адрес:">
                </div>
                <div class="swipes">
                    <p>
                        <label for="amount_location">На растоянии:</label>
                        <input type="text" id="amount_location" style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range-max"
                         class="maxer ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                        <div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-max"
                             style="width: 100%;"></div>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
                              style="left: 0%;"><span class="num">5 км</span></span></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'djeym/js/map_header.js' %}"  type="text/javascript"></script>
    <!-- END HEADER -->
</div>
